doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Proklamator RI

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Proklamator RI
        h2 Ir Soekarno
        
      section
        h2 Biografi Ir Soekarno
        h5 Ir Soekarno adalah Proklamator Kemerdekaan Indonesia (bersama dengan Mohammad Hatta) yang terjadi pada tanggal 17 Agustus 1945.
        ul
          li 
          li Nama Lengkap : Ir. Soekarno, (Sewaktu kecil namanya Kusnososro)
          li Nama Panggilan : Bung Karno
          li Tempat lahir : Blitar, Jawa Timur
          li Tanggal Lahir : 6 Juni 1901
          li Pekerjaan : Presiden Indonesia ( 1945 – 1966 )
          li Wafat : Jakarta, 21 Juni 1970
      
        
      section
        p       Soekarno dilahirkan dengan nama Kusno Sosrodihardjo. Ayahnya bernama Raden Soekemi Sosrodihardjo,
          seorang guru di Surabaya, Jawa. Ibunya bernama Ida Ayu Nyoman Rai berasal dari Buleleng, Bali.
          Ketika kecil Soekarno tinggal bersama kakeknya di Tulungagung, Jawa Timur. Pada usia 14 tahun,
          seorang kawan bapaknya yang bernama Oemar Said Tjokroaminoto mengajak Soekarno tinggal di Surabaya
          dan disekolahkan ke Hoogere Burger School (H.B.S.) di sana sambil mengaji di tempat Tjokroaminoto.
      
      section  
        p       Di Surabaya, Soekarno banyak bertemu dengan para pemimpin Sarekat Islam, organisasi yang dipimpin
          Tjokroaminoto saat itu. Soekarno kemudian bergabung dengan organisasi Jong Java (Pemuda Jawa).
          Tamat H.B.S. tahun 1920, Soekarno melanjutkan ke Technische Hoge School (sekarang ITB) di Bandung,
          dan tamat pada tahun 1925. Saat di Bandung, Soekarno berinteraksi dengan Tjipto Mangunkusumo dan
          Dr. Douwes Dekker, yang saat itu merupakan pemimpin organisasi National Indische Partij.
        
      section
<<<<<<< HEAD        
=======
        h2 Latar Belakang dan Pendidikan
<<<<<<< HEAD
        p        Soekarno Merupakan Sosok Yang Jasanya Tidak Bisa Dilupakan Begitu Saja Dalam Membangun Negeri Ini. 
            Peranan Besar Yang Telah  Dilakukan Oleh Kedua Orang Ini, Terutama Dalam Hal Memerdekakan Bangsa Indonesia 
            Dari Belenggu Penjajahan Akan Selalu Terpatri Sebagai Jasa-Jasa Yang Tidak Akan Tergerus Selamanya Oleh Masa. 
            Memang, Jika Kita Amati. Sosok Kedua Bapak Bangsa Ini Merupakan Pribadi Yang Unik Satu Sama Lainnya. 
            Pribadi Yang Saling Melengkapi Dan Mengisi Kekurangan-Kekurangan Yang Ada Diantara Mereka.
            
      section
        p         Sebagai Sosok Yang Memiliki Label Penggerak Massa, Soekarno Memiliki Peranan Sebagai Pemain Depan 
            Yang Dengan Jelas Terlihat Bagaimana Pola Pikir Dan Cara Berbicaranya Ketika Berada Di Depan Podium 
            Untuk Berpidato. Soekarno Adalah Singa Podium Yang Berjuluk “Penyambung Solidaritas Rakyat”. 
            Ia Memainkan Peran Dalam Menyampaikan Pesan Persatuan Dan Kesatuan Untuk Tercapainya Indonesia Merdeka.
           
      section
      h3 Sebagai Arsitek
        p         Bung Karno adalah presiden pertama Indonesia yang juga dikenal sebagai arsitek alumni 
            dari Technische Hoogeschool te Bandoeng (sekarang ITB) di Bandung dengan mengambil 
            jurusan teknik sipil dan tamat pada tahun 1926.
            
      section
      h3 Pekerjaan dan Karya di Bidang Arsitektur
        p         Ir. Soekarno pada tahun 1926 mendirikan biro insinyur bersama Ir. Anwari, 
            banyak mengerjakan rancang bangun bangunan. Selanjutnya bersama Ir. Rooseno juga 
            merancang dan membangun rumah-rumah dan jenis bangunan lainnya.
        p         Ketika dibuang di Bengkulu menyempatkan merancang beberapa rumah 
            dan merenovasi total masjid Jami' di tengah kota.
            
      section
        p         Semasa menjabat sebagai presiden, ada beberapa karya arsitektur yang dipengaruhi 
            atau dicetuskan oleh Soekarno. Juga perjalanan secara maraton dari bulan Mei sampai 
            Juli pada tahun 1956 ke negara-negara Amerika Serikat, Kanada, Italia, Jerman Barat, dan Swiss. 
            
        p         Membuat cakrawala alam pikir Soekarno semakin kaya dalam menata Indonesia secara 
            holistik dan menampilkannya sebagai negara yang baru merdeka. Soekarno membidik 
            Jakarta sebagai wajah (muka) Indonesia terkait beberapa kegiatan berskala internasional 
            yang diadakan di kota itu, namun juga merencanakan sebuah kota sejak awal yang diharapkan 
            sebagai pusat pemerintahan di masa datang. Beberapa karya dipengaruhi oleh Soekarno 
            atau atas perintah dan koordinasinya dengan beberapa arsitek seperti Frederich Silaban 
            dan R.M. Soedarsono, dibantu beberapa arsitek junior untuk visualisasi.
=======
>>>>>>> 06fcd695c0132dc17983330307e38c0b74bb8572
      section
        h3 Pidato Soekarno Kemerdekaan RI
        p Saudara-saudara sekalian!
          Saya telah minta saudara-saudara hadir disini untuk menyaksikan
          satu peristiwa maha-penting dalam sejarah kita.
          Berpuluh-puluh tahun kita bangsa Indonesia telah berjoang,
          untuk kemerdekaan tanah air kita bahkan telah beratus-ratus tahun!
          Gelombang aksi kita untuk mencapai kemerdekaan kita itu ada naiknya
          dan ada turunnya, tetapi jiwa kita tetap menuju ke arah cita-cita.
          Juga di dalam jaman Jepang, usaha kita untuk mencapai kemerdekaan nasional
          tidak berhenti-hentinya.
      section
        p Di dalam jaman Jepang ini, tampaknya saja kita menyandarkan diri
          kepada mereka, tetapi pada hakekatnya, tetap kita menyusun tenaga sendiri,
          tetapi kita percaya kepada kekuatan sendiri.
          Sekarang tibalah saatnya kita benar-benar mengambil sikap nasib bangsa
          dan nasib tanah air kita di dalam tangan kita sendiri. Hanya bangsa yang berani
          mengambil nasib dalam tangan sendiri akan dapat berdiri dengan kuatnya.
          Maka kami, tadi malah telah mengadakan musyawarat dengan pemuka-pemuka 
          rakyat Indonesia dari seluruh Indonesia. Permusyawaratan itu saya sekata 
          berpendapat bahwa sekaranglah datang saatnya untuk menyatakan kemerdekaan kita.          
      section
        p Saudara-saudara!
          Dengan ini kami menyatakan kebulatan tekad itu. Dengarkanlah proklamasi kami:
          Proklamasi
          Kami bangsa Indonesia dengan ini menyatakan kemerdekaan Indonesia.
          Hal-hal yang mengenai pemindahan kekuasaan dan lain-lain, diselenggarakan 
          dengan cara saksama dan dalam tempo yang sesingkat-singkatnya.
          Jakarta, 17 Agustus 1945
          Atas Nama Bangsa Indonesia
          Soekarno-Hatta
     section
        p Demikianlah saudara-saudara!
          Kita sekarang telah merdeka!
          Tidak ada satu ikatan lagi yang mengikat tanah air kita dan bangsa kita!
          Mulai saat ini kita menyusun Negara kita! Negara Merdeka, 
          Negara Republik Indonesia – merdeka kekal dan abadi. Insyaallah,
          Tuhan memberkati kemerdekaan kita itu!
          Dirgahayu RI ke-68. Merdeka!

      section
        h3 Pidato Ir Soekarno Kepada Malaysia
        p "Kalau kita lapar itu biasa
          Kalau kita malu itu juga biasa
          Namun kalau kita lapar atau malu itu karena Malaysia, kurang ajar!

          Kerahkan pasukan ke Kalimantan hajar cecunguk Malayan itu!
          Pukul dan sikat jangan sampai tanah dan udara kita diinjak-injak oleh Malaysian keparat itu
       
      section
          Doakan aku, aku kan berangkat ke medan juang sebagai patriot Bangsa,
          sebagai martir Bangsa dan sebagai peluru Bangsa yang tak mau diinjak-injak harga dirinya.

          Serukan serukan keseluruh pelosok negeri bahwa kita akan bersatu untuk melawan kehinaan ini
          kita akan membalas perlakuan ini dan kita tunjukkan bahwa kita masih memiliki Gigi yang kuat
          dan kita juga masih memiliki martabat.
>>>>>>> 18d0a7c8d40e620c8e5cfc4dd4caf53162793878
          
      section
          Yoo...ayoo... kita... Ganjang...
          Ganjang... Malaysia
          Ganjang... Malaysia
          Bulatkan tekad
          Semangat kita badja
          Peluru kita banjak
          Njawa kita banjak
          Bila perlu satoe-satoe!"
      section
        h3 Kata-Kata Bijak Soekarno
        p  1. "Tuhan menciptakan bangsa untuk maju melawan kebohongan elit atas, hanya bangsanya                  sendiri yang mampu merubah nasib negerinya sendiri."

           2. "Aku tinggalkan Kekayaan alam Indonesia, biar semua negara besar dunia iri dengan                    Indonesia, dan aku tinggalkan hingga bangsa Indonesia sendiri yang mengolahnya."

           3. "Barangsiapa ingin mutiara, harus berani terjun di lautan yang dalam."
      
      section
      h1 Kiprah Politik
      
      section
      h1 Masa Keterpurukan
         Situasi politik Indonesia menjadi tidak menentu 
         Lima bulan kemudian
         Hiangga ahirnya
      
      section
        h2 Masa Penjajahan Jepang
        p  Pada awal masa penjajahan Jepang (1942-1945), pemerintah Jepang 
           sempat tidak memerhatikan tokoh-tokoh pergerakan Indonesia terutama 
           untuk "mengamankan" keberadaannya di Indonesia. Ini terlihat pada Gerakan 3A 
           dengan tokohnya Shimizu dan Mr. Syamsuddin yang kurang begitu populer.
      
      section
        p Namun akhirnya, pemerintahan pendudukan Jepang memerhatikan dan sekaligus 
          memanfaatkan tokoh-tokoh Indonesia seperti Soekarno, Mohammad Hatta, dan lain-lain 
          dalam setiap organisasi-organisasi dan lembaga lembaga untuk menarik hati 
          penduduk Indonesia. Disebutkan dalam berbagai organisasi seperti Jawa Hokokai, 
          Pusat Tenaga Rakyat Putera, BPUPKI dan PPKI, tokoh tokoh seperti Soekarno,
          Hatta, Ki Hajar Dewantara, K.H. Mas Mansyur, dan lain-lainnya disebut-sebut 
          dan terlihat begitu aktif. Dan akhirnya tokoh-tokoh nasional bekerja sama dengan
          pemerintah pendudukan Jepang untuk mencapai kemerdekaan Indonesia, meski ada pula 
          yang melakukan gerakan bawah tanah seperti Sutan Syahrir dan Amir Sjarifuddin karena 
          menganggap Jepang adalah fasis yang berbahaya.
      
      section
        p Presiden Soekarno sendiri, saat pidato pembukaan menjelang pembacaan teks 
          proklamasi kemerdekaan, mengatakan bahwa meski sebenarnya kita bekerja sama 
          dengan Jepang sebenarnya kita percaya dan yakin serta mengandalkan kekuatan sendiri.

          Ia aktif dalam usaha persiapan kemerdekaan Indonesia, di antaranya adalah
          merumuskan Pancasila, UUD 1945, dan dasar dasar pemerintahan Indonesia 
          termasuk merumuskan naskah proklamasi Kemerdekaan. Ia sempat dibujuk untuk
          menyingkir ke Rengasdengklok.
        
      section
        p Pada tahun 1943, Perdana Menteri Jepang Hideki Tojo mengundang tokoh 
          Indonesia yakni Soekarno, Mohammad Hatta, dan Ki Bagoes Hadikoesoemo
          ke Jepang dan diterima langsung oleh Kaisar Hirohito. Bahkan kaisar
          memberikan Bintang kekaisaran Ratna Suci kepada tiga tokoh Indonesia tersebut.
          Penganugerahan Bintang itu membuat pemerintahan pendudukan Jepang terkejut, 
          karena hal itu berarti bahwa ketiga tokoh Indonesia itu dianggap 
          keluarga Kaisar Jepang sendiri. 
      
      section
        p Pada bulan Agustus 1945, ia diundang oleh 
          Marsekal Terauchi, pimpinan Angkatan Darat wilayah Asia Tenggara di Dalat Vietnam
          yang kemudian menyatakan bahwa proklamasi kemerdekaan Indonesia adalah urusan
          rakyat Indonesia sendiri.
          Namun keterlibatannya dalam badan-badan organisasi bentukan Jepang membuat
          Soekarno dituduh oleh Belanda bekerja sama dengan Jepang, antara lain dalam kasus romusha.
      section
       h2 Masa Perang Revolusi
       p  Soekarno bersama tokoh-tokoh nasional mulai mempersiapkan diri menjelang Proklamasi 
          kemerdekaan Republik Indonesia. Setelah sidang Badan Penyelidik Usaha Persiapan 
          Kemerdekaan Indonesia BPUPKI, Panitia Kecil yang terdiri dari delapan orang (resmi), 
          Panitia Kecil yang terdiri dari sembilan orang/Panitia Sembilan (yang menghasilkan Piagam Jakarta) 
          dan Panitia Persiapan Kemerdekaan Indonesia PPKI, Soekarno-Hatta mendirikan Negara Indonesia 
          berdasarkan Pancasila dan UUD 1945.
          
<<<<<<< HEAD
      p  testing...
          
=======
      section
        h1 Motivasi Ir.Soekarno
        
>>>>>>> 0b568279453a4d6c478f1763d7afb1ce509d7b52
      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild