doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Proklamator RI

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Proklamator RI
        h2 Ir Soekarno
        
      section
        h2 Biografi Ir Soekarno
        h5 Ir Soekarno adalah Proklamator Kemerdekaan Indonesia (bersama dengan Mohammad Hatta) yang terjadi pada tanggal 17 Agustus 1945.
        ul
          li 
          li Nama Lengkap : Ir. Soekarno, (Sewaktu kecil namanya Kusnososro)
          li Nama Panggilan : Bung Karno
          li Tempat lahir : Blitar, Jawa Timur
          li Tanggal Lahir : 6 Juni 1901
          li Pekerjaan : Presiden Indonesia ( 1945 – 1966 )
          li Wafat : Jakarta, 21 Juni 1970
      
        
      section
        p       Soekarno dilahirkan dengan nama Kusno Sosrodihardjo. Ayahnya bernama Raden Soekemi Sosrodihardjo,
          seorang guru di Surabaya, Jawa. Ibunya bernama Ida Ayu Nyoman Rai berasal dari Buleleng, Bali.
          Ketika kecil Soekarno tinggal bersama kakeknya di Tulungagung, Jawa Timur. Pada usia 14 tahun,
          seorang kawan bapaknya yang bernama Oemar Said Tjokroaminoto mengajak Soekarno tinggal di Surabaya
          dan disekolahkan ke Hoogere Burger School (H.B.S.) di sana sambil mengaji di tempat Tjokroaminoto.
      
      section  
        p       Di Surabaya, Soekarno banyak bertemu dengan para pemimpin Sarekat Islam, organisasi yang dipimpin
          Tjokroaminoto saat itu. Soekarno kemudian bergabung dengan organisasi Jong Java (Pemuda Jawa).
          Tamat H.B.S. tahun 1920, Soekarno melanjutkan ke Technische Hoge School (sekarang ITB) di Bandung,
          dan tamat pada tahun 1925. Saat di Bandung, Soekarno berinteraksi dengan Tjipto Mangunkusumo dan
          Dr. Douwes Dekker, yang saat itu merupakan pemimpin organisasi National Indische Partij.
          
      section
        h2 Latar Belakang dan Pendidikan
        p        Soekarno Merupakan Sosok Yang Jasanya Tidak Bisa Dilupakan Begitu Saja Dalam Membangun Negeri Ini. 
            Peranan Besar Yang Telah  Dilakukan Oleh Kedua Orang Ini, Terutama Dalam Hal Memerdekakan Bangsa Indonesia 
            Dari Belenggu Penjajahan Akan Selalu Terpatri Sebagai Jasa-Jasa Yang Tidak Akan Tergerus Selamanya Oleh Masa. 
            Memang, Jika Kita Amati. Sosok Kedua Bapak Bangsa Ini Merupakan Pribadi Yang Unik Satu Sama Lainnya. 
            Pribadi Yang Saling Melengkapi Dan Mengisi Kekurangan-Kekurangan Yang Ada Diantara Mereka.
            
      section
        p         Sebagai Sosok Yang Memiliki Label Penggerak Massa, Soekarno Memiliki Peranan Sebagai Pemain Depan 
            Yang Dengan Jelas Terlihat Bagaimana Pola Pikir Dan Cara Berbicaranya Ketika Berada Di Depan Podium 
            Untuk Berpidato. Soekarno Adalah Singa Podium Yang Berjuluk “Penyambung Solidaritas Rakyat”. 
            Ia Memainkan Peran Dalam Menyampaikan Pesan Persatuan Dan Kesatuan Untuk Tercapainya Indonesia Merdeka.
           
      section
      h3 Sebagai Arsitek
        p         Bung Karno adalah presiden pertama Indonesia yang juga dikenal sebagai arsitek alumni 
            dari Technische Hoogeschool te Bandoeng (sekarang ITB) di Bandung dengan mengambil 
            jurusan teknik sipil dan tamat pada tahun 1926.
            
      section
      h3 Pekerjaan dan Karya di Bidang Arsitektur
        p         Ir. Soekarno pada tahun 1926 mendirikan biro insinyur bersama Ir. Anwari, 
            banyak mengerjakan rancang bangun bangunan. Selanjutnya bersama Ir. Rooseno juga 
            merancang dan membangun rumah-rumah dan jenis bangunan lainnya.
        p         Ketika dibuang di Bengkulu menyempatkan merancang beberapa rumah 
            dan merenovasi total masjid Jami' di tengah kota.
            
      section
        p         Semasa menjabat sebagai presiden, ada beberapa karya arsitektur yang dipengaruhi 
            atau dicetuskan oleh Soekarno. Juga perjalanan secara maraton dari bulan Mei sampai 
            Juli pada tahun 1956 ke negara-negara Amerika Serikat, Kanada, Italia, Jerman Barat, dan Swiss. 
            
        p         Membuat cakrawala alam pikir Soekarno semakin kaya dalam menata Indonesia secara 
            holistik dan menampilkannya sebagai negara yang baru merdeka. Soekarno membidik 
            Jakarta sebagai wajah (muka) Indonesia terkait beberapa kegiatan berskala internasional 
            yang diadakan di kota itu, namun juga merencanakan sebuah kota sejak awal yang diharapkan 
            sebagai pusat pemerintahan di masa datang. Beberapa karya dipengaruhi oleh Soekarno 
            atau atas perintah dan koordinasinya dengan beberapa arsitek seperti Frederich Silaban 
            dan R.M. Soedarsono, dibantu beberapa arsitek junior untuk visualisasi.
      section
        h3 Pidato Soekarno Kemerdekaan RI
        p Saudara-saudara sekalian!
                 Saya telah minta saudara-saudara hadir disini untuk menyaksikan
            satu peristiwa maha-penting dalam sejarah kita.
            Berpuluh-puluh tahun kita bangsa Indonesia telah berjoang,
            untuk kemerdekaan tanah air kita bahkan telah beratus-ratus tahun!
            Gelombang aksi kita untuk mencapai kemerdekaan kita itu ada naiknya
            dan ada turunnya, tetapi jiwa kita tetap menuju ke arah cita-cita.
            Juga di dalam jaman Jepang, usaha kita untuk mencapai kemerdekaan nasional
            tidak berhenti-hentinya.
      section
        p   Di dalam jaman Jepang ini, tampaknya saja kita menyandarkan diri
            kepada mereka, tetapi pada hakekatnya, tetap kita menyusun tenaga sendiri,
            tetapi kita percaya kepada kekuatan sendiri.
            Sekarang tibalah saatnya kita benar-benar mengambil sikap nasib bangsa
            dan nasib tanah air kita di dalam tangan kita sendiri. Hanya bangsa yang berani
            mengambil nasib dalam tangan sendiri akan dapat berdiri dengan kuatnya.
            Maka kami, tadi malah telah mengadakan musyawarat dengan pemuka-pemuka 
            rakyat Indonesia dari seluruh Indonesia. Permusyawaratan itu saya sekata 
            berpendapat bahwa sekaranglah datang saatnya untuk menyatakan kemerdekaan kita.          
      section
        p Saudara-saudara!
            Dengan ini kami menyatakan kebulatan tekad itu. Dengarkanlah proklamasi kami:
            Proklamasi
            Kami bangsa Indonesia dengan ini menyatakan kemerdekaan Indonesia.
            Hal-hal yang mengenai pemindahan kekuasaan dan lain-lain, diselenggarakan 
            dengan cara saksama dan dalam tempo yang sesingkat-singkatnya.
            Jakarta, 17 Agustus 1945
            Atas Nama Bangsa Indonesia
            Soekarno-Hatta
     section
       p  Demikianlah saudara-saudara!
            Kita sekarang telah merdeka!
            Tidak ada satu ikatan lagi yang mengikat tanah air kita dan bangsa kita!
            Mulai saat ini kita menyusun Negara kita! Negara Merdeka, 
            Negara Republik Indonesia – merdeka kekal dan abadi. Insyaallah,
            Tuhan memberkati kemerdekaan kita itu!
            Dirgahayu RI ke-68. Merdeka!

      section
        h3 Pidato Ir Soekarno Kepada Malaysia
        p  "Kalau kita lapar itu biasa
            Kalau kita malu itu juga biasa
            Namun kalau kita lapar atau malu itu karena Malaysia, kurang ajar!

            Kerahkan pasukan ke Kalimantan hajar cecunguk Malayan itu!
            Pukul dan sikat jangan sampai tanah dan udara kita diinjak-injak oleh Malaysian keparat itu
       
      section
            Doakan aku, aku kan berangkat ke medan juang sebagai patriot Bangsa,
            sebagai martir Bangsa dan sebagai peluru Bangsa yang tak mau diinjak-injak harga dirinya.

            Serukan serukan keseluruh pelosok negeri bahwa kita akan bersatu untuk melawan kehinaan ini
            kita akan membalas perlakuan ini dan kita tunjukkan bahwa kita masih memiliki Gigi yang kuat
            dan kita juga masih memiliki martabat.
          
      section
            Yoo...ayoo... kita... Ganjang...
            Ganjang... Malaysia
            Ganjang... Malaysia
            Bulatkan tekad
            Semangat kita badja
            Peluru kita banjak
            Njawa kita banjak
            Bila perlu satoe-satoe!"
      section
        h3 Kata-Kata Bijak Soekarno
        p  1. "Tuhan menciptakan bangsa untuk maju melawan kebohongan elit atas,
               hanya bangsanya sendiri yang mampu merubah nasib negerinya sendiri."
           2. "Aku tinggalkan Kekayaan alam Indonesia, biar semua negara besar dunia
               iri dengan Indonesia, dan aku tinggalkan hingga bangsa Indonesia sendiri yang mengolahnya."
           3. "Barangsiapa ingin mutiara, harus berani terjun di lautan yang dalam."
           
      section
      h1 Kiprah Politik
      h2 Masa Pergerakan Nasional
      p    Soekarno untuk pertama kalinya menjadi terkenal ketika dia menjadi anggota Jong Java cabang Surabaya
           pada tahun 1915. Bagi Soekarno sifat organisasi tersebut yang Jawa-sentris dan hanya memikirkan kebudayaan
           aja merupakan tantangan tersendiri. Dalam rapat pleno tahunan yang diadakan Jong Java cabang Surabaya Soekarno
           menggemparkan sidang dengan berpidato menggunakan bahasa Jawa ngoko (kasar). Sebulan kemudian dia mencetuskan
           perdebatan sengit dengan menganjurkan agar surat kabar Jong Java diterbitkan dalam bahasa Melayu saja, dan bukan dalam bahasa Belanda.
      
      section
      p    Pada tahun 1926, Soekarno mendirikan Algemene Studie Club di Bandung yang merupakan hasil inspirasi dari Indonesische Studie Club
           oleh Dr. Soetomo. Organisasi ini menjadi cikal bakal Partai Nasional Indonesia yang didirikan pada tahun 1927. Aktivitas Soekarno 
           di PNI menyebabkannya ditangkap Belanda pada tanggal 29 Desember 1929 di Yogyakarta dan esoknya dipindahkan ke Bandung, 
           untuk dijebloskan ke Penjara Banceuy. Pada tahun 1930 ia dipindahkan ke Sukamiskin dan pada tahun itu ia memunculkan pledoinya
           yang fenomenal Indonesia Menggugat (pledoi), hingga dibebaskan kembali pada tanggal 31 Desember 1931.
      
      section
      p    Pada bulan Juli 1932, Soekarno bergabung dengan Partai Indonesia (Partindo), yang merupakan pecahan dari PNI. Soekarno kembali
           ditangkap pada bulan Agustus 1933, dan diasingkan ke Flores. Di sini, Soekarno hampir dilupakan oleh tokoh-tokoh nasional. Namun
           semangatnya tetap membara seperti tersirat dalam setiap suratnya kepada seorang Guru Persatuan Islam bernama Ahmad Hasan.
      p    Pada tahun 1938 hingga tahun 1942 Soekarno diasingkan ke Provinsi Bengkulu. Soekarno baru kembali bebas pada 
           masa penjajahan Jepang pada tahun 1942.
      
      section
        h2 Masa Penjajahan Jepang
        p  Pada awal masa penjajahan Jepang (1942-1945), pemerintah Jepang 
           sempat tidak memerhatikan tokoh-tokoh pergerakan Indonesia terutama 
           untuk "mengamankan" keberadaannya di Indonesia. Ini terlihat pada Gerakan 3A 
           dengan tokohnya Shimizu dan Mr. Syamsuddin yang kurang begitu populer.
      
      section
        p  Namun akhirnya, pemerintahan pendudukan Jepang memerhatikan dan sekaligus 
           memanfaatkan tokoh-tokoh Indonesia seperti Soekarno, Mohammad Hatta, dan lain-lain 
           dalam setiap organisasi-organisasi dan lembaga lembaga untuk menarik hati 
           penduduk Indonesia. Disebutkan dalam berbagai organisasi seperti Jawa Hokokai, 
           Pusat Tenaga Rakyat Putera, BPUPKI dan PPKI, tokoh tokoh seperti Soekarno,
           Hatta, Ki Hajar Dewantara, K.H. Mas Mansyur, dan lain-lainnya disebut-sebut 
           dan terlihat begitu aktif. Dan akhirnya tokoh-tokoh nasional bekerja sama dengan
           pemerintah pendudukan Jepang untuk mencapai kemerdekaan Indonesia, meski ada pula 
           yang melakukan gerakan bawah tanah seperti Sutan Syahrir dan Amir Sjarifuddin karena 
           enganggap Jepang adalah fasis yang berbahaya.
      section
        p  Presiden Soekarno sendiri, saat pidato pembukaan menjelang pembacaan teks proklamasi kemerdekaan, 
           mengatakan bahwa meski sebenarnya kita bekerja sama dengan Jepang sebenarnya kita percaya dan yakin
           serta mengandalkan kekuatan sendiri.

           Ia aktif dalam usaha persiapan kemerdekaan Indonesia, di antaranya adalah merumuskan Pancasila, UUD 1945,
           dan dasar dasar pemerintahan Indonesia termasuk merumuskan naskah proklamasi Kemerdekaan. Ia sempat dibujuk
           untuk menyingkir ke Rengasdengklok.
          
      section
        p  Pada tahun 1943, Perdana Menteri Jepang Hideki Tojo mengundang tokoh Indonesia yakni Soekarno,
           Mohammad Hatta, dan Ki Bagoes Hadikoesoemo ke Jepang dan diterima langsung oleh Kaisar Hirohito.
           Bahkan kaisar memberikan Bintang kekaisaran (Ratna Suci) kepada tiga tokoh Indonesia tersebut.
           Penganugerahan Bintang itu membuat pemerintahan pendudukan Jepang terkejut, karena hal itu
           berarti bahwa ketiga tokoh Indonesia itu dianggap keluarga Kaisar Jepang sendiri.
           Pada bulan Agustus 1945, ia diundang oleh Marsekal Terauchi, pimpinan Angkatan Darat wilayah
           Asia Tenggara di Dalat Vietnam yang kemudian menyatakan bahwa proklamasi kemerdekaan Indonesia adalah
           urusan rakyat Indonesia sendiri.

           Namun keterlibatannya dalam badan-badan organisasi bentukan Jepang membuat Soekarno dituduh oleh Belanda
           bekerja sama dengan Jepang, antara lain dalam kasus romusha.
          
      section
        p  Presiden Soekarno sendiri, saat pidato pembukaan menjelang pembacaan teks 
           proklamasi kemerdekaan, mengatakan bahwa meski sebenarnya kita bekerja sama 
           dengan Jepang sebenarnya kita percaya dan yakin serta mengandalkan kekuatan sendiri.

           Ia aktif dalam usaha persiapan kemerdekaan Indonesia, di antaranya adalah
           merumuskan Pancasila, UUD 1945, dan dasar dasar pemerintahan Indonesia 
           termasuk merumuskan naskah proklamasi Kemerdekaan. Ia sempat dibujuk untuk
           menyingkir ke Rengasdengklok.
        
      section
        p  Pada tahun 1943, Perdana Menteri Jepang Hideki Tojo mengundang tokoh 
           Indonesia yakni Soekarno, Mohammad Hatta, dan Ki Bagoes Hadikoesoemo
           ke Jepang dan diterima langsung oleh Kaisar Hirohito. Bahkan kaisar
           memberikan Bintang kekaisaran Ratna Suci kepada tiga tokoh Indonesia tersebut.
           Penganugerahan Bintang itu membuat pemerintahan pendudukan Jepang terkejut, 
           karena hal itu berarti bahwa ketiga tokoh Indonesia itu dianggap 
           keluarga Kaisar Jepang sendiri. 
      
      section
        p  Pada bulan Agustus 1945, ia diundang oleh 
           Marsekal Terauchi, pimpinan Angkatan Darat wilayah Asia Tenggara di Dalat Vietnam
           yang kemudian menyatakan bahwa proklamasi kemerdekaan Indonesia adalah urusan
           rakyat Indonesia sendiri.
           Namun keterlibatannya dalam badan-badan organisasi bentukan Jepang membuat
           Soekarno dituduh oleh Belanda bekerja sama dengan Jepang, antara lain dalam kasus romusha.
      section
       h2 Masa Perang Revolusi
        p  Soekarno bersama tokoh-tokoh nasional mulai mempersiapkan diri menjelang Proklamasi 
           kemerdekaan Republik Indonesia. Setelah sidang Badan Penyelidik Usaha Persiapan 
           Kemerdekaan Indonesia BPUPKI, Panitia Kecil yang terdiri dari delapan orang (resmi), 
           Panitia Kecil yang terdiri dari sembilan orang/Panitia Sembilan (yang menghasilkan Piagam Jakarta) 
           dan Panitia Persiapan Kemerdekaan Indonesia PPKI, Soekarno-Hatta mendirikan Negara Indonesia 
           berdasarkan Pancasila dan UUD 1945.
      section
        p  Setelah menemui Marsekal Terauchi di Dalat, Vietnam, terjadilah Peristiwa Rengasdengklok 
           pada tanggal 16 Agustus 1945; Soekarno dan Mohammad Hatta dibujuk oleh para pemuda untuk
           menyingkir ke asrama pasukan Pembela Tanah Air Peta Rengasdengklok. Tokoh pemuda yang membujuk
           antara lain Soekarni, Wikana, Singgih serta Chairul Saleh. Para pemuda menuntut agar Soekarno dan Hatta
           segera memproklamasikan kemerdekaan Republik Indonesia, karena di Indonesia terjadi kevakuman kekuasaan.
           Ini disebabkan karena Jepang sudah menyerah dan pasukan Sekutu belum tiba. Namun Soekarno, Hatta
           dan para tokoh menolak dengan alasan menunggu kejelasan mengenai penyerahan Jepang.
      section
        p  Alasan lain yang berkembang adalah Soekarno menetapkan momen tepat untuk kemerdekaan Republik Indonesia 
           yakni dipilihnya tanggal 17 Agustus 1945 saat itu bertepatan dengan bulan Ramadhan, bulan suci kaum muslim
           yang diyakini merupakan bulan turunnya wahyu pertama kaum muslimin kepada Nabi Muhammad SAW yakni Al Qur-an.
           Pada tanggal 18 Agustus 1945, Soekarno dan Mohammad Hatta diangkat oleh PPKI menjadi Presiden dan Wakil
           Presiden Republik Indonesia. Pada tanggal 29 Agustus 1945 pengangkatan menjadi presiden dan wakil presiden
           dikukuhkan oleh KNIP. Pada tanggal 19 September 1945 kewibawaan Soekarno dapat menyelesaikan tanpa pertumpahan
           darah peristiwa Lapangan Ikada tempat 200.000 rakyat Jakarta akan bentrok dengan pasukan Jepang yang masih bersenjata lengkap.
      section
        p  Pada saat kedatangan Sekutu (AFNEI) yang dipimpin oleh Letjen. Sir Phillip Christison, Christison
           akhirnya mengakui kedaulatan Indonesia secara de facto setelah mengadakan pertemuan dengan Presiden Soekarno.
           Presiden Soekarno juga berusaha menyelesaikan krisis di Surabaya. Namun akibat provokasi yang dilancarkan
           pasukan NICA (Belanda) yang membonceng Sekutu (di bawah Inggris), meledaklah Peristiwa 10 November 1945 
           di Surabaya dan gugurnya Brigadir Jenderal A.W.S Mallaby.Karena banyak provokasi di Jakarta pada waktu itu,
           Presiden Soekarno akhirnya memindahkan Ibukota Republik Indonesia dari Jakarta ke Yogyakarta.
           Diikuti wakil presiden dan pejabat tinggi negara lainnya.
      section
        p  Kedudukan Presiden Soekarno menurut UUD 1945 adalah kedudukan Presiden selaku kepala pemerintahan dan
           kepala negara (presidensiil/single executive). Selama revolusi kemerdekaan, sistem pemerintahan berubah
           menjadi semipresidensiil/double executive. Presiden Soekarno sebagai Kepala Negara dan Sutan Syahrir sebagai
           Perdana Menteri/Kepala Pemerintahan. Hal itu terjadi karena adanya maklumat wakil presiden No X, dan maklumat
           pemerintah bulan November 1945 tentang partai politik. Hal ini ditempuh agar Republik Indonesia 
           dianggap negara yang lebih demokratis.
      section
        p  Meski sistem pemerintahan berubah, pada saat revolusi kemerdekaan, kedudukan Presiden Soekarno tetap
           paling penting, terutama dalam menghadapi Peristiwa Madiun 1948 serta saat Agresi Militer Belanda II yang
           menyebabkan Presiden Soekarno, Wakil Presiden Mohammad Hatta dan sejumlah pejabat tinggi negara ditahan Belanda.
           Meskipun sudah ada Pemerintahan Darurat Republik Indonesia (PDRI) dengan ketua Sjafruddin Prawiranegara,
           tetapi pada kenyataannya dunia internasional dan situasi dalam negeri tetap mengakui bahwa Soekarno-Hatta 
           adalah pemimpin Indonesia yang sesungguhnya, hanya kebijakannya yang dapat menyelesaikan sengketa Indonesia-Belanda. 

      section 
      h2  Masa keterpurukan
      p    Situasi politik Indonesia menjadi tidak menentu setelah enam 
           jenderal dibunuh dalam Gerakan 30 September atau G30S pada 1965.
           KAMI (Kesatuan Aksi Mahasiswa Indonesia) dan KAPI (Kesatuan Aksi Pelajar Indonesia) melakukan aksi demonstrasi dan menyampaikan Tri Tuntutan Rakyat (Tritura) yang salah satu isinya meminta agar PKI dibubarkan.
           Namun, Soekarno menolak untuk membubarkan PKI karena bertentangan dengan pandangan Nasakom (Nasionalisme, Agama, Komunisme). Sikap Soekarno yang menolak membubarkan PKI kemudian melemahkan posisinya dalam politik.
          
      section
        p  Lima bulan kemudian, dikeluarkanlah Surat Perintah Sebelas 
           Maret yang ditandatangani oleh Soekarno.
           Isi dari surat tersebut untuk mengambil tindakan yang perlu guna menjaga keamanan pemerintahan dan keselamatan pribadi presiden.
           Surat tersebut lalu digunakan untuk membubarkan PKI dan menyatakannya sebagai organisasi terlarang.
           Soekarno kemudian membawakan pidato pertanggungjawaban mengenai sikapnya terhadap peristiwa G30S pada Sidang Umum ke-IV MPRS.
           Pidato tersebut berjudul "Nawaksara" dan dibacakan pada 22 Juni 1966.
           MPRS kemudian meminta Soekarno untuk melengkapi pidato tersebut.
           Pidato "Pelengkap Nawaskara" pun disampaikan oleh Soekarno pada 10 Januari 1967 namun kemudian ditolak oleh MPRS pada 16 Februari tahun yang sama.
           Hingga akhirnya pada 20 Februari 1967 Soekarno menandatangani Surat Pernyataan Penyerahan Kekuasaan di Istana Merdeka.
           Dengan ditandatanganinya surat tersebut maka Soeharto de facto menjadi kepala pemerintahan Indonesia.
           Setelah melakukan Sidang Istimewa maka MPRS pun mencabut kekuasaan Presiden Soekarno, mencabut gelar Pemimpin Besar Revolusi
           dan mengangkat Soeharto sebagai Presiden RI hingga diselenggarakan pemilihan umum berikutnya.
      section
        h2 Massa Kemerdekaan
           Setelah Pengakuan Kedaulatan (Pemerintah Belanda menyebutkan sebagai Penyerahan Kedaulatan), Presiden Soekarno diangkat sebagai
           Presiden Republik Indonesia Serikat (RIS) dan Mohammad Hatta diangkat sebagai perdana menteri RIS. Jabatan Presiden Republik Indonesia
           diserahkan kepada Mr Assaat, yang kemudian dikenal sebagai RI Jawa-Yogya. Namun karena tuntutan dari seluruh rakyat Indonesia yang 
           ingin kembali ke negara kesatuan, maka pada tanggal 17 Agustus 1950, RIS kembali berubah menjadi Republik Indonesia dan Presiden
           Soekarno menjadi Presiden RI. Mandat Mr Assaat sebagai pemangku jabatan Presiden RI diserahkan kembali kepada Ir. Soekarno. 
           Resminya kedudukan Presiden Soekarno adalah presiden konstitusional, tetapi pada kenyataannya kebijakan pemerintah
           dilakukan setelah berkonsultasi dengannya.
      section
        p Setelah menemui Marsekal Terauchi di Dalat, Vietnam, terjadilah Peristiwa Rengasdengklok pada 
          tanggal 16 Agustus 1945; Soekarno dan Mohammad Hatta dibujuk oleh para pemuda untuk menyingkir
          ke asrama pasukan Pembela Tanah Air Peta Rengasdengklok. Tokoh pemuda yang membujuk antara lain
          Soekarni, Wikana, Singgih serta Chairul Saleh. Para pemuda menuntut agar Soekarno dan Hatta segera
          memproklamasikan kemerdekaan Republik Indonesia, karena di Indonesia terjadi kevakuman kekuasaan. 
          Ini disebabkan karena Jepang sudah menyerah dan pasukan Sekutu belum tiba. Namun Soekarno, Hatta 
          dan para tokoh menolak dengan alasan menunggu kejelasan mengenai penyerahan Jepang.
          
      section
        p Alasan lain yang berkembang adalah Soekarno menetapkan momen tepat untuk kemerdekaan Republik Indonesia
          yakni dipilihnya tanggal 17 Agustus 1945 saat itu bertepatan dengan bulan Ramadhan, bulan suci kaum muslim
          yang diyakini merupakan bulan turunnya wahyu pertama kaum muslimin kepada Nabi Muhammad SAW yakni Al Qur-an.
          Pada tanggal 18 Agustus 1945, Soekarno dan Mohammad Hatta diangkat oleh PPKI menjadi Presiden dan Wakil
          Presiden Republik Indonesia. Pada tanggal 29 Agustus 1945 pengangkatan menjadi presiden dan wakil presiden
          dikukuhkan oleh KNIP. Pada tanggal 19 September 1945 kewibawaan Soekarno dapat menyelesaikan tanpa 
          pertumpahan darah peristiwa Lapangan Ikada tempat 200.000 rakyat Jakarta akan bentrok dengan pasukan
          Jepang yang masih bersenjata lengkap.
      section
        h2 Sakit Hingga Meninggalnya Ir. Soekarno
        p  Kesehatan Soekarno sudah mulai menurun sejak bulan Agustus 1965. Sebelumnya, ia telah dinyatakan mengidap
           gangguan ginjal dan pernah menjalani perawatan di Wina, Austria tahun 1961 dan 1964. Prof. Dr. K. Fellinger
           dari Fakultas Kedokteran Universitas Wina menyarankan agar ginjal kiri Soekarno diangkat tetapi ia menolaknya
           dan lebih memilih pengobatan tradisional. Ia masih bertahan selama 5 tahun sebelum akhirnya meninggal pada
           hari Minggu, 21 Juni 1970 di RSPAD (Rumah Sakit Pusat Angkatan Darat) Gatot Subroto, Jakarta dengan status 
           sebagai tahanan politik.
        p  Pada hari Sabtu tanggal 20 Juni 1970 jam 20.30 keadaan kesehatan Ir. Soekarno semakin memburuk dan
           kesadaran berangsur-angsur menurun. Tanggal 21 Juni 1970 jam 03.50 pagi, Ir. Soekarno dalam keadaan
           tidak sadar dan kemudian pada jam 07.00 Ir. Soekarno meninggal dunia. Tim dokter secara terus-menerus 
           berusaha mengatasi keadaan kritis Ir. Soekarno hingga saat meninggalnya. Walaupun Soekarno pernah meminta
           agar dirinya dimakamkan di Istana Batu Tulis, Bogor, namun pemerintahan Presiden Soeharto memilih Kota Blitar,
           Jawa Timur, sebagai tempat pemakaman Soekarno. Hal tersebut ditetapkan lewat Keppres RI No. 44 tahun 1970. 
           Jenazah Soekarno dibawa ke Blitar sehari setelah kematiannya dan dimakamkan keesokan harinya bersebelahan
           dengan makam ibunya. Upacara pemakaman Soekarno dipimpin oleh Panglima ABRI Jenderal M. Panggabean sebagai
           inspektur upacara. Pemerintah kemudian menetapkan masa berkabung selama tujuh hari.
           
      section
        h2 Peninggalan setelah Wafatnya Ir. Soekarno
        p  Dalam rangka memperingati 100 tahun kelahiran Soekarno pada 6 Juni 2001, maka Kantor Filateli Jakarta menerbitkan prangko
           "100 Tahun Bung Karno". Prangko yang diterbitkan merupakan empat buah prangko berlatar belakang bendera Merah Putih serta                    menampilkan gambar diri Soekarno dari muda hingga ketika menjadi Presiden Republik Indonesia. Prangko pertama memiliki nilai                nominal Rp500 dan menampilkan potret Soekarno pada saat sekolah menengah. Yang kedua bernilai Rp800 dan gambar Soekarno ketika              masih di perguruan tinggi tahun 1920-an terpampang di atasnya. Sementara itu, prangko yang ketiga memiliki nominal Rp900 serta              menunjukkan foto Soekarno saat proklamasi kemerdekaan RI. Prangko yang terakhir memiliki gambar Soekarno ketika menjadi Presiden            dan bernominal Rp1000. Keempat prangko tersebut dirancang oleh Heri Purnomo dan dicetak sebanyak 2,5 juta set oleh Perum Peruri.
           Selain prangko, Divisi Filateli PT Pos Indonesia menerbitkan juga lima macam kemasan prangko, album koleksi prangko, 
           empat jenis kartu pos, dua macam poster Bung Karno serta tiga desain kaus Bung Karno.
           
      section
        p  Prangko yang menampilkan Soekarno juga diterbitkan oleh Pemerintah Kuba pada tanggal 19 Juni 2008. Prangko tersebut menampilkan gambar Soekarno dan  
           presiden Kuba Fidel Castro.Penerbitan itu bersamaan dengan ulang tahun ke-80 Fidel Castro dan peringatan kunjungan Presiden Indonesia, Soekarno, keKuba.
        p  Nama Soekarno pernah diabadikan sebagai nama sebuah gelanggang olahraga pada tahun 1958. Bangunan tersebut, yaitu Gelanggang Olahraga Bung Karno,  
           didirikan sebagai sarana keperluan penyelenggaraan Asian Games IV tahun 1962 di Jakarta. Pada masa Orde Baru, kompleks olahraga ini diubah namanya menjadi 
           Gelora Senayan. Tapi sesuai keputusan Presiden Abdurrahman Wahid, Gelora Senayan kembali pada nama awalnya yaitu Gelanggang Olahraga Bung Karno. Hal ini dilakukan dalam rangka mengenang jasa Bung Karno. 
        
        
      section
        p  Setelah kematiannya, beberapa yayasan dibuat atas nama Soekarno. Dua di antaranya adalah Yayasan Pendidikan Soekarno dan Yayasan Bung Karno. Yayasan 
           Pendidikan Soekarno adalah organisasi yang mencetuskan ide untuk membangun universitas dengan pemahaman yang diajarkan Bung Karno. Yayasan ini dipimpin 
           oleh Rachmawati Soekarnoputri, anak ke tiga Soekarno dan Fatmawati. Pada tahun 25 Juni 1999 Presiden Bacharuddin Jusuf Habibie meresmikan Universitas Bung Karno yang secara resmi meneruskan pemikiran Bung Karno, Nation and Character Building kepada mahasiswa-mahasiswanya. 
        
        p  Sementara itu, Yayasan Bung Karno memiliki tujuan untuk mengumpulkan dan melestarikan benda-benda seni maupun nonseni kepunyaan Soekarno yang tersebar
           di berbagai daerah di Indonesia. Yayasan tersebut didirikan pada tanggal 1 Juni 1978 oleh delapan putra-putri Soekarno yaitu Guntur Soekarnoputra, 
           Megawati Soekarnoputri, Rachmawati Soekarnoputri, Sukmawati Soekarnoputri, Guruh Soekarnoputra, Taufan Soekarnoputra, Bayu Soekarnoputra, dan Kartika Sari Dewi Soekarno. Pada tahun 2003, Yayasan Bung Karno membuka stan di Arena Pekan Raya Jakarta. Di stan tersebut ditampilkan video pidato Soekarno berjudul "Indonesia Menggugat" yang disampaikan di Gedung Landraad tahun 1930 serta foto-foto semasa Soekarno menjadi presiden. Selain memperlihatkan video dan foto, berbagai cenderamata Soekarno dijual di stan tersebut. Di antaranya adalah kaus, jam emas, koin emas, CD berisi pidato Soekarno, serta kartu pos Soekarno.
        
      section
        p  Seseorang yang bernama Soenuso Goroyo Sukarno mengaku memiliki harta benda warisan Soekarno. Soenuso mengaku merupakan mantan sersan dari Batalyon 
           Artileri Pertahanan Udara Sedang. Ia pernah menunjukkan benda-benda yang dianggapnya sebagai warisan Soekarno itu kepada sejumlah wartawan di rumahnya di Cileungsi, Bogor. Benda-benda tersebut antara lain sebuah lempengan emas kuning murni 24 karat yang terdaftar dalam register emas JM London, emas putih dengan cap tapal kuda JM Mathey London serta plakat logam berwarna kuning dengan tulisan ejaan lama berupa deposito hibah. Selain itu terdapat pula uang UBCN (Brasil) dan Yugoslavia serta sertifikat deposito obligasi garansi di Bank Swiss dan Bank Netherland. Meskipun emas yang ditunjukkan oleh Soenuso bersertifikat namun belum ada pakar yang memastikan keaslian dari emas tersebut.
        
      section
     h2 Penghargaan Ir.Soekarno
        p  Soekarno mendapatkan gelar Doktor Honoris Causa dari 26 universitas di dalam dan luar negeri. Perguruan tinggi dalam negeri
           yang memberikan gelar kehormatan kepada Soekarno antara lain Universitas Gajah Mada (19 September 1951), Institut Teknologi Bandung
           (13 September 1962), Universitas Indonesia (2 Februari 1963), Universitas Hasanuddin (25 April 1963), Institut Agama Islam Negeri
           Jakarta (2 Desember 1963), Universitas Padjadjaran (23 Desember 1964), dan Universitas Muhammadiyah (1 Agustus 1965).
           Universitas Columbia (Amerika Serikat), Universitas Berlin (Jerman), Universitas Lomonosov (Rusia) dan Universitas Al-Azhar (Mesir)
           merupakan beberapa universitas luar negeri yang menganugerahi Soekarno dengan gelar Doktor Honoris Causa.
        
       p   Pada bulan April 2005, Soekarno yang sudah meninggal selama 35 tahun mendapatkan penghargaan dari Presiden Afrika Selatan Thabo Mbeki.
           Penghargaan tersebut adalah penghargaan bintang kelas satu The Order of the Supreme Companions of OR Tambo yang diberikan dalam bentuk
           medali, pin, tongkat, dan lencana yang semuanya dilapisi emas.
           Soekarno mendapatkan penghargaan tersebut karena dinilai telah mengembangkan solidaritas internasional demi melawan penindasan oleh
           negara maju serta telah menjadi inspirasi bagi rakyat Afrika Selatan dalam melawan penjajahan dan membebaskan diri dari apartheid.
           Acara penyerahan penghargaan tersebut dilaksanakan di Kantor Kepresidenan Union Buildings di Pretoria dan dihadiri oleh
           Megawati Soekarnoputri yang mewakili ayahnya dalam menerima penghargaan.

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild