doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Proklamator RI

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Proklamator RI
        h2 Ir Soekarno
        
      section
        h2 Biografi Ir Soekarno
        h5 Ir Soekarno adalah Proklamator Kemerdekaan Indonesia (bersama dengan Mohammad Hatta) yang terjadi pada tanggal 17 Agustus 1945.
        ul
          li 
          li Nama Lengkap : Ir. Soekarno, (Sewaktu kecil namanya Kusnososro)
          li Nama Panggilan : Bung Karno
          li Tempat lahir : Blitar, Jawa Timur
          li Tanggal Lahir : 6 Juni 1901
          li Pekerjaan : Presiden Indonesia ( 1945 – 1966 )
          li Wafat : Jakarta, 21 Juni 1970

      section
        p       Soekarno dilahirkan dengan nama Kusno Sosrodihardjo. Ayahnya bernama Raden Soekemi Sosrodihardjo,
          seorang guru di Surabaya, Jawa. Ibunya bernama Ida Ayu Nyoman Rai berasal dari Buleleng, Bali.
          Ketika kecil Soekarno tinggal bersama kakeknya di Tulungagung, Jawa Timur. Pada usia 14 tahun,
          seorang kawan bapaknya yang bernama Oemar Said Tjokroaminoto mengajak Soekarno tinggal di Surabaya
          dan disekolahkan ke Hoogere Burger School (H.B.S.) di sana sambil mengaji di tempat Tjokroaminoto.
      
      section  
        p       Di Surabaya, Soekarno banyak bertemu dengan para pemimpin Sarekat Islam, organisasi yang dipimpin
          Tjokroaminoto saat itu. Soekarno kemudian bergabung dengan organisasi Jong Java (Pemuda Jawa).
          Tamat H.B.S. tahun 1920, Soekarno melanjutkan ke Technische Hoge School (sekarang ITB) di Bandung,
          dan tamat pada tahun 1925. Saat di Bandung, Soekarno berinteraksi dengan Tjipto Mangunkusumo dan
          Dr. Douwes Dekker, yang saat itu merupakan pemimpin organisasi National Indische Partij.
          
      section
        h1 Motivasi Soekarno
        
      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild